.moduleHeading
{
  font-family: 'Poiret One', cursive;
  color: rgb(102,51,153);
  font-size: 30px;
  background-color: rgb(255,228,225);
  font-weight: bold;
  text-align: center;

}

.liSelected{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
}


.list-group-item.liSelected{
  background-color: rgb(95,158,160);
}

.liSelected a{
  color: white;
  font-weight: bolder;
}

a {
  color: rgb(128,0,0);
  font-weight: bold;
}
