<div class="row mb-4">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item moduleHeading">
        Modules
      </li>
      <li [ngClass]="{'liSelected': module.id == moduleId}"
          *ngFor="let module of modules"
          class="list-group-item">
        <a class="liSelected" routerLink="/course/{{courseId}}/module/{{module.id}}">
          {{module.title}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-8 bg-dark" style="border-radius: 10px">
    <app-lesson-tabs></app-lesson-tabs>
  </div>
</div>
