<header class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-light" href="home">Whiteboard<i class="fas fa-home"></i></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" routerLink="/quizzes">Quizzes<i class="fas fa-clipboard-list"></i></a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" (click)="logout()">Logout<i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <h2>Quiz Taker {{quiz.title}}</h2>
  <ul class="list-group">
    <li *ngFor="let question of quiz.questions" class="list-group-item">
      <h4>{{question.title}}
        <span class="float-right">Points: {{question.points}}</span>
      </h4>
      <div [ngSwitch]="question.questionType">
        <app-essay-question [question]="question" *ngSwitchCase="'ESSAY'"></app-essay-question>
        <app-fill-blanks-question [question]="question" *ngSwitchCase="'FILL_BLANKS'"></app-fill-blanks-question>
        <app-multiple-choice-question [question]="question" *ngSwitchCase="'CHOICE'"></app-multiple-choice-question>
        <app-true-false-question [question]="question" *ngSwitchCase="'TRUE_FALSE'"></app-true-false-question>
      </div>
    </li>
  </ul>
  <div>
    <button class="btn btn-primary float-right"
            (click)="submitQuiz()">Submit
    </button>
    <button class="btn btn-danger float-right"
            (click)="cancel()">Cancel
    </button>
  </div>
</div>

