<header class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-light" href="home">
    Whiteboard
  </a></header>
<h2>Login</h2>
<div class="container">
  <div class="row justify-content-center">
    <div>
      <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Username"
               [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="Password" [(ngModel)]="password">
      </div>
      <div id="container" class="form-group">
        <button (click)="login(username, password)"
                class="btn btn-primary btn-block">
          Submit
        </button>
      </div>
      <span>Not yet registered?</span><a class="nav-item-link regLink" routerLink="/register">Sign Up</a>
    </div>
  </div>
</div>
