.nav-link.liSelected {
  background-color: rgb(95,158,160);
  color: black !important;
  font-family: 'Love Ya Like A Sister', cursive;

}

.liSelected {
  font-family: 'Love Ya Like A Sister', cursive;
  color: black;
  border-radius: 14px;
  background-color: rgb(95,158,160);
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
