<div *ngFor="let widget of widgets">
  <div [ngSwitch]="widget.widgetType">
    <div *ngSwitchCase="'Heading'">
      <div [ngSwitch]="widget.size">
        <h1 *ngSwitchCase="'1'">{{widget.text}}</h1>
        <h2 *ngSwitchCase="'2'">{{widget.text}}</h2>
        <h3 *ngSwitchCase="'3'">{{widget.text}}</h3>
      </div>
    </div>
    <div *ngSwitchCase="'Paragraph'">
      <p>{{widget.text}}</p>
    </div>
    <div *ngSwitchCase="'Link'">
      <a href="{{widget.href}}">{{widget.text}}</a>
    </div>
    <div *ngSwitchCase="'List'">
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let item of widget.text.split('\n')">
          {{item}}
        </li>
      </ul>
    </div>
    <div *ngSwitchCase="'Image'">
      <h6>Image</h6>
      <img src={{widget.src}}/>
    </div>
  </div>
</div>
