.nav-item.liSelected {
  background-color: rgb(95,158,160);
  color: black !important;
}

.liSelected {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
border-color: darkblue;
}

.liSelected a {
  color: white;
  font-weight: bolder;
}

a {
  color: black;
  font-weight: bold;
}





