

.liSelected {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;
  border-color: darkblue;
  background-color: rgb(95, 158, 160);

}

.liSelected a {
  font-weight: bolder;
  border-color: darkblue;
}

a {
  color: black;
  font-weight: bold;
  border-color: darkblue;

}




