<header class="navbar navbar-expand-lg bg-dark mb-4">
  <a class="navbar-brand text-light" href="home">
    Whiteboard
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link disabled">
        <h4>{{course.title}}</h4></a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link"
         (click)="logout()">
        Logout<i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
  </ul>
</header>
<div class="container mx-2">
  <app-module-list></app-module-list>
</div>
