<header class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-light" href="home">Whiteboard<i class="fas fa-home"></i></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" routerLink="/quizzes">Quizzes<i class="fas fa-clipboard-list"></i></a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" (click)="logout()">Logout<i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <h2>Submissions</h2>
  <ul class="list-group">
    <li *ngFor="let submission of submissions" class="list-group-item">
      Time: {{submission.submissionTime}}
      <a class="float-right btn btn-primary"
         routerLink="/quiz/{{submission.quiz}}/submission/{{submission._id}}">View</a>
    </li>
  </ul>
</div>
