<header class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-light" href="home">
    Whiteboard</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link text-light disabled"><h4 class="m-0">{{course.title}}</h4></a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" (click)="logout()">Logout<i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="container mt-4" [hidden]="!isAdmin">
        <div class="row">
          <div class="col-md-12">
            <input [(ngModel)]="sectionName"
                   placeholder="Section Name"
                   class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input [(ngModel)]="seats"
                   placeholder="Seats available"
                   class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button (click)="createSection(sectionName, seats)" class="btn btn-success btn-block">
              Add Section
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container mt-4">
        <ul class="list-group">
          <li *ngFor="let section of sections" class="list-group-item">
            {{section.name}} ({{section.availableSeats}}/{{section.seats}})
            <button [hidden]="isAdmin" (click)="enroll(section)"
                    class="float-right btn btn-success ml-2 pl-2" [ngClass]="{'disabled': section.availableSeats == 0}">
              Enroll
            </button>
            <button [hidden]="isAdmin" (click)="deEnroll(section)"
                    class="float-right btn btn-danger"
                    [ngClass]="{'disabled': section.availableSeats == section.seats}">Deroll
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
