<header class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand text-light" href="home">Whiteboard<i class="fas fa-home"></i></a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" [hidden]="!isAdmin">
      <a class="btn btn-link nav-link nav-item-link" routerLink="/admin">Edit Sections<i class="fas fa-edit"></i>
      </a>
    </li>
    <li class="nav-item" [hidden]="isAdmin">
      <a class="btn btn-link nav-link nav-item-link" routerLink="/quizzes">Quizzes<i class="fas fa-clipboard-list"></i></a>
    </li>
    <li class="nav-item">
      <a class="btn btn-link nav-link nav-item-link" (click)="logout()">Logout<i class="fas fa-sign-out-alt"></i></a>
    </li>
  </ul>
</header>
<div class="container-fluid justify-content-center pageContainer">
  <div class="row">
    <div class="col-lg-6">
      <div class="container profileContainer">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <h2>Profile</h2>
                <form>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input [(ngModel)]="username"
                             class="form-control"
                             [ngModelOptions]="{standalone: true}"
                             disabled="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="password"
                             [(ngModel)]="password"
                             class="form-control"
                             placeholder="Enter new password"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input [(ngModel)]="firstName"
                             class="form-control"
                             placeholder="First Name"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input [(ngModel)]="lastName" class="form-control"
                             placeholder="Last Name"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="text"
                             [(ngModel)]="phone"
                             class="form-control"
                             placeholder="(617)xxx-xxxx"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input type="email"
                             [(ngModel)]="email"
                             class="form-control"
                             placeholder="Email"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input [(ngModel)]="address" class="form-control"
                             placeholder="Address"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="button" class="btn btn-success" (click)="update()">
                        Update
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 adminColumnTwo" [hidden]="!isAdmin">
      <h2>Welcome Admin</h2>
      <h2>Please edit Sections from Navbar</h2>
    </div>
    <div class="col-lg-6" [hidden]="isAdmin">
      <div class="container-fluid courseContainer">
        <div class="row col-lg-12 mb-4">
          <h2>You're enrolled in :</h2>
          <div class="col-md-6">
            <ul class="list-group sectionList" *ngFor="let enrollment of sections">
              <li class="list-group-item">
                <div class="offset-1  font-weight-light">
                  <a routerLink="/course/{{enrollment.section.courseId}}/section/">
                    {{enrollment.section.name}} :
                    ({{enrollment.section.availableSeats}}/{{enrollment.section.seats}})
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

