.nav-item-link {
  color: white;
}

a.nav-item-link {
  color: white;
}

a:hover.nav-item-link{
  color: white;
  cursor: pointer;
}

.adminColumnTwo{
  margin-top: 200px;
}
h2 {
  font-size: 40px;
  font-family: 'Poiret One', cursive;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  color: rgb(102,51,153);
}

.fas
{
  margin-left: 10px;
}

.btn-success{
  border-radius: 15px;
  width: 50%;
  margin-left: 150px;
}
.profileContainer{

  margin-top : 20px;
}

.courseContainer{
  margin: 20px 50px 4px 200px;
}

.list-group-item{
  margin-right:20px;
}
