.nav-link.liSelected {
  background-color: rgb(95,158,160);
  color: black !important;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 20px;

}

.liSelected {
  font-family: 'Love Ya Like A Sister', cursive;
  color: black;
  border-radius: 14px;
  background-color: rgb(95,158,160);
  font-weight: bolder;
  font-size: 20px;
}

a {
  font-size: 20px;
  font-family: 'Love Ya Like A Sister', cursive;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.widgetClass{
  margin-top: 65px;
}
